<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-airturn"
        version="1.5.0"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">

  <engines>
    <engine name="cordova" version=">=3.9.1" />
    <!-- Needs cordova/urlutil -->
  </engines>

  <name>airturn</name>
  <description>AirTurn Plugin</description>
  <js-module name="airturn" src="www/airturn.js">
    <clobbers target="airturn" />
  </js-module>
  <platform name="ios">

    <config-file parent="NSBluetoothPeripheralUsageDescription" target="*-Info.plist">
      <string>An app can use an bluetooth to pedal controle page navigation</string>
    </config-file>
    <config-file parent="NSBluetoothAlwaysUsageDescription" target="*-Info.plist">
      <string>The app can use a bluetooth pedal to controle page navigation</string>
    </config-file>

    <config-file parent="AirTurnAutomaticKeyboardManagement" target="*-Info.plist">
      <false />
    </config-file>

    <header-file src="src/ios/AirTurn.h" />
    <header-file src="src/ios/AirTurnUI/AirTurnUIConnectionController.h" />
    <header-file src="src/ios/Drop-in/NBTableViewController.h" />

    <source-file src="src/ios/AirTurn.m" />
    <source-file src="src/ios/AirTurnUI/AirTurnUIConnectionController.m" />
    <source-file src="src/ios/Drop-in/NBTableViewController.m" />
    <source-file src="src/ios/AirTurnUI/en.lproj/AirTurnUI.strings" />

    <resource-file src="src/ios/Main.storyboard" target="./Main.storyboard" />
    <resource-file src="src/ios/AirTurnUI/AirTurnUIImages.xcassets" />

    <resource-file src="src/ios/AirTurnUI/AirTurnUIImages.xcassets/battery-validating.imageset/Contents.json" target="battery-validating" />-->

    <framework src="CoreBluetooth.framework" />
    <framework src="src/ios/Framework-static/AirTurnInterface.framework" custom="true" />

    <config-file parent="/*" target="config.xml">
      <feature name="airturn">
        <param name="ios-package" value="AirTurn" />
      </feature>
    </config-file>

  </platform>
</plugin>
